* {
    padding: 0;
    margin: 0;
}

.end-page {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 220vh;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 50%, rgba(12, 12, 12, 1) 100%);
}

.counter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    text-align: center;
}

.counter-container p {
    position: relative;
    top: 6vw;
    color: #d9d9d9;
    font-family: 'Afacad', sans-serif;
    font-size: 2vw;
    font-weight: 400;
}

.counter-container h1 {
    text-align: center;
    color: #d9d9d9;
    font-family: 'Aboreto', system-ui;
    font-size: 35vw;
    font-weight: 400;
    letter-spacing: -20px;
}

.scanme-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 50%;
}

.left-counter {
    height: 100vh;
    width: 20vw;
    background-image: url('../assets/left.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.middle-counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 50vw;
}

.right-counter {
    width: 20vw;
    height: 100%;
    background-image: url('../assets/left.png');
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(180deg);
    background-position: center;
}

@media(max-width:1200px) {

    .end-page{
        overflow-x: hidden;
        width: 100vw;
    }

    .counter-container {
        flex-direction: column;
    }

    .counter-container h1{
        font-size: 50vw;
    }

    .counter-container p{
        font-size: 4vw;
    }

    .left-counter {
        position: absolute;
        margin-right: 100vh;
        left: -180px;
        height: 100%;
        width: 25vh;
        /* background-position: center; */
    }

    .right-counter {
        position: absolute;
        /* margin-left: 200vh; */
        right: -180px;
        height: 100%;
        width: 25vh;
        /* background-position: center; */
    }
}

.scan-top {
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.scan-top h1 {
    margin-bottom: 5vh;
    font-weight: 400;
    color: #d9d9d9;
    font-family: 'Aboreto', system-ui;
}

.scan-img {
    display: flex;
    width: 100%;
    height: 40vh;
    background-color: #d9d9d9;
    justify-content: center;
    align-items: center;
}

.qr-code {
    background: url('../assets/qr-placeholder.png') no-repeat;
    background-size: contain;
    background-position: center;
    width: 40vh;
    height: 40vh;
}

.scan-bot {
    display: flex;
    height: 20%;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.scan-bot h1 {
    align-items: center;
    color: #d9d9d9;
    font-family: 'Aboreto', system-ui;
    font-weight: 200;
    letter-spacing: 2vw;
    font-size: 3vh;
}

.scan-bot h1 span {
    position: relative;
    top: 3px;
    font-family: 'Afacad', sans-serif;
    font-size: 5vh;
}