* {
    margin: 0;
    padding: 0;
}

.home-container {
    cursor: default;
    background-image: url('../assets/homepage.gif');
    z-index: -10;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    color: gray;
    overflow: hidden;
    /* position: relative; */
}

.home-gradient {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(360deg, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0.1) 100%);
    z-index: 0;
}

.home-wrapper {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    position: relative;
}

.typewriter-effect {
    border-right: 2px solid gray;
    animation: blink 0.8s steps(1) infinite;
}

@keyframes blink {

    0%,
    100% {
        border-color: transparent;
    }

    50% {
        border-color: gray;
    }
}

.home-wrapper h1 {
    font-family: 'Afacad', sans-serif;
    font-style: normal;
    font-size: 60vh;
    font-weight: 400;
    letter-spacing: -2vw;
}


.home-wrapper h2 {
    font-size: 3vh;
    letter-spacing: 1.5vw;
    text-align: center;
    position: relative;
    top: 18vh;
    left: 2vw;
    font-family: 'Aboreto', system-ui;
}

.home-wrapper h2 span {
    font-size: 4vh;
    font-family: 'Afacad', sans-serif;
    font-weight: 400;
}

@media(max-width:1200px) {
    .home-wrapper h1 {
        font-size: 50vw;
    }

    .home-wrapper h2 {
        font-size: 3vw;
        top: 15vw;
    }

    .home-wrapper h2 span {
        font-size: 4vw;
    }
}

.product-button {
    position: absolute;
    height: 10vh;
    width: 100px;
    margin-top: 680px;
    z-index: 10;
    pointer-events: auto;
    background: url('../assets/down-arrow.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.1;
    transition: transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.8s cubic-bezier(0.215, 0.610, 0.355, 1);
    justify-content: center;
}

.product-button:hover {
    opacity: 1;
    transform: translateY(10%);
}