.product-wrapper {
    position: relative;
    width: 100%;
    background-color: black;
    overflow-y: scroll;
    overflow: hidden;
}

.elipse-gradient {
    top: -75%;
    width: 100%;
    height: 170vh;

    position: absolute;
}

.left-wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 20%;
}

.elipse-border {
    top: -65%;
    height: 170vh;
    width: 100%;
    position: absolute;
}

.large-text {
    font-family: 'Montserrat';
    color: white;
    /* position: absolute; */
    text-align: right;
    width: max-content;
    top: -90%;
    font-size: 3vw;
}

.small-text {
    font-family: 'Montserrat';
    bottom: 0;
    position: absolute;
    /* top: 80px; */
    font-weight: 200;
    color: white;
    gap: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 1vw;
    /* margin-bottom: -50px; */

}

.small-text h4 {
    font-weight: lighter;
}

.left-text {
    text-align: right;
}

.right-text {
    width: 20%;
}

.carousel-centering {
    position: relative;
    flex-direction: column;
    margin-bottom: 120px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.elipse-gradient-bottom {
    bottom: -38%;
    width: 100%;
    transform: rotate(180deg);
    height: 170vh;
    position: absolute;
}

.elipse-border-bottom {
    bottom: -28%;
    height: 170vh;
    width: 100%;
    transform: rotate(180deg);
    position: absolute;
}


@media screen and (max-width: 1190px) {
    .small-text{
        position: relative;
        font-size: 15px;
        align-items: flex-start;
        top: 60px;
        gap: 20px;
    }
    .left-wrapper{
        width: 30%;
    }
    .large-text{
        width: max-content;
        font-size: 5vh;
        left: 50%;
        position: absolute;
        /* top: -60%; */
        transform: translate(-50%);
    }
    .right-text{
        width: 40%;
    }

}
@media screen and (max-width: 600px) {
    .small-text{
        position: relative;
        font-size: 2.2vw;
        margin-bottom: 50px;
    }
    .large-text{
        font-size: 8vw;
    }
}