.carousel {
    width: 650px;
    height: 650px;
    position: relative;
    height: auto;
    overflow: hidden;
    mask-image: url('/src/assets/Mask.svg');
    -webkit-mask-image: url('/src/assets/Mask.svg');
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-position: center;
    -webkit-mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    transition: transform 0.5s ease;
}

.carousel-wrapper {
    padding-right: 15px;
    padding-left: 15px;
    height: fit-content;
    width: fit-content;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.border {
    position: absolute;
    width: 650px;
    height: 650px;

}

.button {
    z-index: 100;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;

}

.leftButton {
    position: relative;
    left: 50px;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);

}

.leftButton:hover {

    transform: translateX(-10%);
    /* transition: transform 0.25s ease; */
}

.rightButton {
    transform: rotate(180deg);
    position: relative;
    right: 50px;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.rightButton:hover {
    transform: rotate(180deg) translateX(-10%);
}

.carousel-items {
    display: flex;
    width: 650px;
    height: 650px;
    transition: transform 0.5s ease;
}

.test {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-shrink: 0;
    width: 100%;
}

.test img {
    position: relative;
    top: 50px;
    height: 92%;
    object-fit: contain;
}

@media screen and (max-width: 800px) {
    .carousel {
        width: 100vw;
        height: 90vw;
    }

    .border {
        width: 100vw;
        height: 90vw;
    }

    .carousel-items {
        width: 100vw;
        height: 90vw;
    }

    .leftButton {
        position: relative;
        left: 15vh;
        height: 11vh;
    }

    .rightButton {
        position: relative;
        right: 15vh;
        height: 11vh;
    }
}

@media screen and (max-width: 600px) {
    .leftButton {
        position: relative;
        left: 11vh;
        width: 9vh;
    }

    .rightButton {
        position: relative;
        right: 11vh;
        width: 9vh;
    }
}

@media screen and (max-width: 420px) {
    /* .carousel {
        width: 100vw;
        height: 90vw;
    }

    .border {
        width: 100vw;
        height: 90vw;
    }

    .carousel-items {
        width: 100vw;
        height: 90vw;
    } */

    .leftButton {
        /* position: relative; */
        /* left: 200px; */
        left: 7.5vh;
        width: 6vh;
    }

    .rightButton {
        /* position: relative; */
        right: 7.5vh;
        width: 6vh;
    }
}