.carousel {
    width: 650px;
    height: 650px;
    position: relative;
    height: auto;
    overflow: hidden;
    mask-image: url('/src/assets/Mask.svg');
    -webkit-mask-image: url('/src/assets/Mask.svg');
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-position: center;
    -webkit-mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    transition: transform 0.5s ease;
}

.carousel-wrapper {
    padding-right: 15px;
    padding-left: 15px;
    height: 100vh;
    width: fit-content;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.border {
    position: absolute;
    width: 650px;
    height: 650px;

}

.button {
    z-index: 100;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;

}

.leftButton {
    position:relative;
    left: 50px;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);

}

.leftButton:hover {

    transform: translateX(-10%);
    /* transition: transform 0.25s ease; */
}

.rightButton {
    transform: rotate(180deg);
    position:relative;
    right: 50px;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.rightButton:hover {
    transform: rotate(180deg) translateX(-10%);
}

.carousel-items {
    display: flex;
    width: 650px;
    height: 650px;
    transition: transform 0.5s ease;
}
.test {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-shrink: 0;
    width: 100%;
}
.test img{

    height: 90%;
    object-fit: contain;
}

@media screen and (max-width: 800px) {

    .leftButton{
        position: relative;
        left: 130px;
    }
    .rightButton{
        position: relative;
        right: 130px;
    }
}
@media screen and (max-width: 600px) {
    .leftButton{
        width: 65px;
        height: 65px;
        left: 220px;
    }
    .rightButton{
        width: 65px;
        height: 65px;
        right: 220px;
    }
}
@media screen and (max-width: 420px) {
    .carousel{
        width: 500px;
        height: 500px;
    }
    .border{
        width: 500px;
        height: 500px;
    }
    .carousel-items{
        width: 500px;
        height: 500px;
    }
    .leftButton{
        left: 170px;
    }
    .rightButton{
        right: 170px;
    }
}